
body {
  background: rgb(236, 236, 236);
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.content-tarjeta {
  top: 100px;
  position: relative;
  width: 700px;
  height: 400px;
  background-image: url(../images/fondo.jpg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
.logo-grande {
  position: absolute;
  width: 200px;
  left: 0;
  top: 0;
}
.datos-tarjeta {
  width: 75%;
  height: 100%;
  position: absolute;
  background: linear-gradient(120deg,rgba(0, 0, 0, 0) 35%,#3C3C3B 34%);
  display: inline-block;
  right: 0;
  bottom: 0;
}

.datos-tarjeta h1 {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
}
.datos-tarjeta  h2 {
  color: #FCB425;
  position: absolute;
  top: 38%;
  right: 10%;
  font-weight: 200;

}
.info-tarjeta span {
  top: 55%;
  right: 6%;
  color: white;
  position: absolute;
  font-size: 20px;
}
.logo-pequeno {
  position: absolute;
  right: -7px;
  bottom: -7px;
  width: 70px;
  height: 70px;
}
